@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


/* -------------------- Primary set-up --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}


/* -------------------- Colors --------------------*/

:root {
    /*Primary color*/
    --white: #FFFFFF;
    --black: #000000;
    --grey950: #131518;
    --grey900: #262E38;
    --grey850: #2f3843;
    --grey500: #969FAD;
     
    /*Secondary color*/
    --orange500: #FC7614;
    --gradient1: #232A34 ;
    --gradient2: #181E27; 
}

.grey500 {
    color: var(--grey500);
}


/* -------------------- Typographie --------------------*/

h1 {
    color: var(--white);
    font-weight: 400;
    margin: 1rem 0;
}

p {
    color: var(--grey500);
}



/* -------------------- Body and main containers --------------------*/

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--grey950);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--gradient1);
    width: 26rem;
    height: 26rem;
    padding: 3rem;
    border-radius: 2rem;

}

/* -------------------- Rating section --------------------*/

.rond {
    width: 3rem;
    height: 3rem;
    background-color: var(--grey850);
    border-radius:90%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-between;
}

.button-row .rond {
    outline: none;
}

.button-row .rond:hover,
.button-row .rond:focus-visible {
    background-color: var(--white);
    color: var(--black);
}
            

.button-row .rond .selected {
    background-color: var(--orange500);
    color: var(--white);
    outline: none;
}

.submit {
    margin-top: 1rem;
    width: 100%;
    height: 2.5rem;
    background-color: var(--orange500);
    border-radius: 2rem;
    border: none;
}

.submit:hover,
.submit:focus-visible {
    background-color: var(--white);
    border: none;
    outline: none;                    
}

/* -------------------- Thanks section --------------------*/


.result-box {
    color: var(--orange500);
    background-color: var(--grey850);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    margin: 2rem 0rem 1rem 0rem;
}

.text-center {
    text-align: center;
}






/* -------------------- Section switch --------------------*/

.section-rating-switch {
    display: normal;
}

.section-thanks-wrapper-switch {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* -------------------- Responsivness --------------------*/

@media screen and (max-width: 450px) {
    
    main {
        width: 20rem;
        height: 25.5rem;
    }

    .rond {
        width: 2.5rem;
        height: 2.5rem;
    }

    .result-box {
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 350px) {
    
    main {
        width: 18rem;
        height: 29rem;
        padding: 2rem;
    }
}
